# variables para configuración de la aplicación
NODE_ENV = development
PORT = 3000
HOST=0.0.0.0
 
# PostgreSQL
DB_HOST=postgres_db
DB_PORT=5434
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=admin
DB_SQL_LOGGING=false
 
# MongoDB
MONGO_URI=mongodb://localhost:27017/restaurant_management_db
PORT_MONGO=27017
 
# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENABLE_SSL=false
SMTP_USERNAME=correo
SMTP_PASSWORD=contraseña
EMAIL_FROM=correo de envio
EMAIL_FROM_NAME=Sistema de Restaurante
 
# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRES_IN=8h
 
# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=restaurant-management-system/profiles
 
UPLOAD_PATH=./uploads
 # Root Admin
ROOT_ADMIN_EMAIL=
ROOT_ADMIN_PASSWORD=Password
ROOT_ADMIN_USERNAME=admin
 
ROOT_ADMIN_TOKEN= 

# Contenedor
COMPOSE_PROJECT_NAME=restaurant-management-system
